<% let date = new Date() %>
<div class="row">
    <div class="col-12">
        <div id="footer">
            <div class="footer-contnter">
                &copy; <%= date.getFullYear() %>, Robert Bagwell
            </div>
        </div>
    </div>
</div>