<%- include('./includes/head.ejs') %>

<body>
    <div class="container-fluid">
        <%- include('./includes/navigation.ejs') %>
        <%- include('./pages/collage_page.ejs') %>
        <%- include('./includes/footer.ejs') %>
    </div>
</body>

</html>