<%- include('./includes/head.ejs') %>
<body>
    <div class="container-fluid">          
        <%- include('./includes/navigation.ejs') %>
        <%- include('./pages/gallery_page.ejs') %>
        <%- include('./includes/footer.ejs') %>
    </div>
</body>
</html>