@font-face {
    font-family: Oswald;
    src: url("./fonts/Oswald-Regular.ttf")
}

hr {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

body {
    background: #252934;
    color: azure;
    font-family: Oswald
}

#greeting {
    text-align: center;
}

.name_highlight {
    color: #0379be;
}

.main_image {
    margin: 26px;
    height: 100%;
}

.main_image img {
    margin-right: 20px;
    border-radius: 50%;
    width: 250px;
    border: 5px solid;
    float: left;
}

.main_image p {
    padding: 20px;
    width: 63%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#graphDiv {
    width: 63%;
    margin: 0 auto;
}

.graph_header {
    margin-left: 24px;
}

.wb {
    width: 100%;
    background: white;
    color: black;
}

.description {
    text-align: center;
    padding: 30px 0;
    width: 60%;
    margin: 0 auto;
}

.content_frame {
    background: #ccc;
    margin: 22px;
    padding: 20px 54px;
    color: #000;
}

.content_frame:hover {
    background: #fff;
    text-decoration: none;
    color: #717171
}

.content_frame img {
    width: 150px;
}

.content_title {
    text-align: center;
    margin-top: 18px;
    font-size: 21px;
}

.dropdown-item{
    color: #252934;
}

.footer-contnter {
    width: 15%;
    margin: 0 auto;
    text-align: center;
}

.pageTitle {
    text-align: center;
    width: 100%;
}

.instructions {
    text-align: center;
    margin: 20px 0;
    width: inherit;
}

.content_container {
    width: fit-content;
    margin: 0 auto;
}