<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="pageTitle"><%= pageTitle %></h1>
            <p class="instructions">
                This is another real-world project I worked on. The images are the same images from the gallery page
                (you should check that out if you haven't). The collage is dynamically generated and resized to fit the
                space. I only display four pictures and the number of the remaining pictures. The client wanted me to
                mimic what Facebook is doing.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="imageContainer">
                <div class="innerContainer"></div>
            </div>
        </div>
    </div>
</div>
<script src="js/collage.js"></script>