<div class="row">
    <div class="col-12">
        <div id="greeting">
            <h1>Hello I'm <span class="name_highlight">Robert Bagwell.</span></h1>
            <h2>I'm a web developer.</h2>
        </div>
        <div class="main_image">
            <img src="./img/me.jpg" />
            <p>I'm passionate about programming. I've been a web developer for over <%= new Date().getFullYear() - 2011 %> years now. I have tons of hands-on
                experience efficiently coding websites and applications using the latest technologies, such as NodeJS
                and ES6. I have expert knowledge of PHP, HTML, CSS, and JavaScript. I'm constantly engaged in learning
                and expanding my programming expertise by learning other programming languages. I've done everything
                from building site form scratch to working in a large team on just certain parts of a site. I've worked
                on big e-commerce sites to small independently owned sites and ran the gamut of being a Full Stack
                Developer to just focusing on UX/UI.
                <br><br>
                So that's my professional background, a little about my personal life. When I'm not programming I enjoy
                a good movie, I'm a huge movie buff. I also enjoy gaming to relax. Other things about me I like to
                design and was a graphic designer before I started in web development.
            </p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <hr>
        <div class="graph_header">
            <h2>Demos and fun things</h2>
        </div>
        <hr>
    </div>
</div>
<div class="row content_container">
    <a class="content_frame" href="/eight_ball">
        <div>
            <img src="./img/8-ball.png" alt="Magic 8 Ball">
            <p class="content_title">Magic 8 Ball</p>
        </div>
    </a>
    <a class="content_frame" href="/rock_paper_scissors">
        <div>
            <img src="./img/rock_paper_scissors.png" alt="Rock Paper Scissors">
            <p class="content_title">Rock Paper Scissors</p>
        </div>
    </a>
    <a class="content_frame" href="/gallery">
        <div>
            <img src="./img/slideShowIcon.png" alt="Gallery">
            <p class="content_title">Gallery</p>
        </div>
    </a>
    <a class="content_frame" href="/collage_creator">
        <div>
            <img src="./img/images.png" alt="Collage">
            <p class="content_title">Collage Creator</p>
        </div>
    </a>
</div>
<div class="row">
    <div class="col-12">
        <hr>
        <div class="graph_header">
            <h2>Programing languages and frameworks</h2>
        </div>
        <hr>
        <div class="wb">
            <div class="description">
                So, I was going to put this in "Demos and fun things" and I might in the future but I thought it is a
                good piece to show where my strengths and weakness. This is from a real-world project I worked on, the
                graphs update dynamically based on the data I feed them. I created this as a JavaScript plugin so I can
                use it with any data and easily integrate it into any site.
            </div>
            <div id="graphDiv"></div>
        </div>
    </div>
</div>
<script>
    const graphs = new Graphs("#graphDiv", GraphData);
    graphs.drawGraphs();
</script>
<script src="./js/wordChar_count.js"></script>